.travel-intro{
    color: #335576;
    margin: 0 auto;
    margin-top: 70px;
    width: 100%;

    &--container{
        background-color: #FEFAF5 ;
        display: flex;
        width: 100%;
        padding: 30px 70px 20px 65px;
    }
    &--description{
        width: 40%;
        margin-right: 20%;
        margin-left: 5%;
        text-align: left;
        
        p{
            padding: 20px 0;
        }

        button{
            background-color: #DB7A4E;
            color: #FFFFFF;
            border: #FFFFFF 1px solid;
            width: 150px;
            height: 40px;
            border-radius: 90px / 90px;
            
        }
    }

    &--hero{
        width: 30%;
        padding-right: 40px;

        img{
            width: 50vh;
            height: 40vh;
        
        }
    }
}

.recommendations {

    width: 100%;
    margin: 40px 80px;

    h2 {
        text-align: left;
        color: #335576;
    }

    &--container{

    display:flex;
    justify-content:space-evenly;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
    }

    img{
        width: 30vh;
        height: 46vh;
        border-radius: 5px;
        border: 1px solid rgba($color: #000000, $alpha: .2);
        
    }
    
    &--card{
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 4px 4px (black);
        
        
    }

    &--word{
        position: absolute;
        color: white;
        opacity: 80%;
        bottom: 10px;
        right: 30px;
    }
    }

   

    a:link{
            text-decoration: none;
            color: black;
        }
    a:visited {
            text-decoration: none;
            color: black;
        }
    a:active {
            text-decoration: underline #DB7A4E 1px;
        }
    a:hover{
            text-decoration: underline #DB7A4E 3px solid;

        }
    